.tutor-container {
    padding: 20px;
}

.table-container {
    overflow-x: auto;
}

.session-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.add-tutor-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.session-table th,
.session-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
    overflow: hidden;
    /* Hide any text that overflows the cell */
    text-overflow: ellipsis;
}

.tutor-table th {
    background-color: #f2f2f2;
}

.edit-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination span {
    margin: 0 10px;
}



.actions-column {
    display: flex;
    gap: 10px;
}

.ids{
    width:"20px";
    overflow-x: scroll;
}