.box{
    background-color: white;
    margin:12px;
    padding: 6px;
    border-radius: 40px;
    width: 25%;
    /* min-width: 100px; */
}

.description{
    color: #656565d6;
    font-size: 15px;
    border-radius: 40px;
}

@media (max-width: 768px) {
    .box{
        width: 100%;
        padding: 20px;
    }
}