.text {
    text-align: start;
    padding: 20px;
}

.title{
    font-size: 20px !important;  
    background-color: white; 
    padding: 5px;
}



.Box-row{
    display: flex;
}

.content{
    margin-top: 10px;
}
.impcontent{
    padding: 20px;
}
@media (max-width: 768px){
    .Box-row{
        flex-wrap: wrap;
    }
}

