.con{
    background-color: cdd2d5 !important;
    width: "80vw";
    margin: "auto";
    overflow-y: "scroll";
}

.log{
    padding-left: 20px;
    color: #0f0500;
    display: flex;
    align-items: center;
}
