


.userleftportion {
    width: 35%;
    background-color: white;
    border-radius: 40px;
    min-width: 300px;
    margin-right: 10px;
}

.userprofileBox{
    padding: 10px; 
    text-align: center;
    width: 100%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}

.Pg{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.userrightportion{
    width:60%;
    min-width:500px;
    margin-left: 10px;
    /* margin-top: 10px; */
    /* padding: 20px; */
}

.profileattributes{
    margin: 10px;
    width: 80%;
    text-align: left;
      
}

.block{
    background-color: white;
    padding: 20px;
    margin:20px;
    margin-top: 0px;
    border-radius: 40px;
    height:100px;
}

.chatbtn button{
    background: rgb(23, 91, 0);
    background: linear-gradient(90deg, rgba(23, 91, 0, 1) 0%, rgba(101, 213, 0, 1) 12%, rgba(9, 69, 0, 1) 96%);
    color: antiquewhite;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
}
.chatbtn button :hover{
    /* background-color: rgb(23, 91, 0); */
    background-color: violet;
    transition: 0.1s;
}

.ans{
    color: rgb(93, 93, 93);
}